page-search-place {

}
#detail {
    box-shadow:0px -2px 5px 0px rgba(0, 0, 0, .5);

    border-top-color: lightgray;
    background-color: white;
    height: auto;
    width: 100%;
    position:relative;
    color: black;
    
}